<div
	oninput={{action this.componentAttrs.blah value="target.value"}}
>Button</div>
<div
	onmouseenter={{action this.componentAttrs.blah value="target.value"}}
>Button</div>
<div
	onmouseleave={{action this.componentAttrs.blah value="target.value"}}
>Button</div>
<div
	onsubmit={{action this.componentAttrs.blah value="target.value"}}
>Button</div>