<button {{on "click" (fn this.foo "something")}}>button</button>
<button {{on "click" (fn this.foo "something" "another")}}>button</button>
<button {{on "click" (fn @foo "something" "another" this.somethingElse)}}>button</button>